
    
.presentacion h2{
        padding: auto;
        background-color: #ffffff00;
        font-size: 30px;
        text-align: center;
        color: #ffffff;
        -webkit-text-stroke: 1px red;
    }

.accordion-button{
        background-color: #ffffff48;
        font-size: 20px;
        text-align: center;
        color: #cfc673;
        -webkit-text-stroke: 1px rgb(0, 0, 0);
}
.accordion-body p{
        font-size: 18px;
        text-align: center;
        color: #cfc673;
        -webkit-text-stroke: 1px rgb(0, 0, 0);
}
.accordion-item{
        background-color: #ffffff00;
}



/*pseudo*/
    .accordion-item :hover {
        font-size: 30px;
        color: #cfc673;
        background-color: #ffffff48;
     -webkit-text-stroke: 1px rgb(0, 0, 0);
        padding: 15px;
    transition: 0.7s;
    }

/*carousel*/


.carousel-inner{  
    width: 50%;
    text-align: center;
    background-color: #a5aa9485;
    margin: 20px;
height: 600px;
}

.carousel-item h3{
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    -webkit-text-stroke: 1px red;
}

.carousel-item img {
    height: 500px;
    object-fit:cover ;
    border-radius: 100%;
}


