/*mediaqueries*/

@media only screen and ( max-width:1024px) {

    .cards_body2 h3 {
        font-size: 20px;
    }
    .cards_body2 {
        padding: 55px;
    }

    .promo_body{
        width: 100%;
        height: 250px;
    
    }
    .promo_body h3{
        padding: 5px;
        font-size: 25px;
    }
    .promo{
        grid-template-rows: repeat(8,300px);
    }
    .c24 img{
        height: 190px;
    }

    .carousel-inner{  
        width: 50%;
        text-align: center;
        background-color: #a5aa9485;
        margin: 20px;
    height: 500px;
    }
    .carousel-item img {
        height: 450px;
        object-fit:cover ;
        border-radius: 100%;
    }
    .carousel-item h3{
        font-size: 25px;
    }
    .presentacion h2{
        font-size: 25px; ;
    }
    
    .galeria{
        grid-template-columns: repeat(2, 1fr);
    
        grid-template-rows: auto;
        grid-template-areas:
    'area1 area2 '
    'area3 area4 '
    'area6 area6 '
    'area5 area10 '
    'area7 area7 '
    'area8 area9';
    
    }
    .titulo{
        color: #fdfdff; 
        text-align: left;
        -webkit-text-stroke: 1px red;
        margin: 30px;
        font-size: 25px;

    }
    .video iframe{
        width: 65%;
        height: 300px;
        object-fit:cover ;
        padding: 40px;
    }
    .video h3{
        padding: 5px;
        font-size: 25px;
        text-align: center;
        color: #ffffff;
        -webkit-text-stroke: 1px red;
    
    }
    .footer {
        color: #000000;
        font-size: 15px;
        padding:   10px     ;
        
    }
    .footer_body{
        width: 50%;
        padding: 10px;
    
    }
    .footer_body textarea{
        width: 80%;
    }
}
@media only screen and (max-width:768px )
{
    .cards_body2 {
        padding: 55px;
    }
    .cards_body2 h3 {
        font-size: 20px;
    }

    .promo_body{
        width: 100%;
        height: 200px;
    
    }
    .promo_body h3{
        padding: 5px;
        font-size: 20px;
    }

    .promo{
        grid-template-rows: repeat(8,250px);
    }

    .c1 img,.c2 img, .c3 img, .c4 img, .c5 img, .c6 img, .c7 img, .c8 img, .c9 img,.c10 img, .c11 img, .c12 img, .c13 img, .c14 img, .c15 img, .c16 img, .c17 img,.c18 img, .c19 img, .c20 img, .c21 img, .c22 img, .c23 img, .c24 img{
        height: 140px;
    }
    .carousel-inner{  
        width: 50%;
        text-align: center;
        background-color: #a5aa9485;
        margin: 20px;
    height: 350px;
    }
    .carousel-item img {
        height: 300px;
        object-fit:cover ;
        border-radius: 100%;
    }
    .carousel-item h3{
        font-size: 20px;
    }
    .presentacion h2{
        font-size: 20px; ;
    }

    .formulario{
        flex-direction: column;
    }
.Ingresa{
    font-size: 20px;
}
    .formulario_body{
width: 70%;

    }

    .galeria{
        grid-template-columns: repeat(1, 1fr);
    
        grid-template-rows: auto;
        grid-template-areas:
    'area1 '
    'area2'
    'area3 '
    'area4  '
    'area5 '
    'area6'
    'area7 '
    'area8'
    'area9 '
    'area10  ';
    
    }
    .video iframe{
        width: 65%;
        height: 250px;
        object-fit:cover ;
        padding: 40px;
    }
    .video h3{
        padding: 5px;
        font-size: 20px;
        text-align: center;
        color: #ffffff;
        -webkit-text-stroke: 1px red;
    
    }
}
@media only screen and (max-width:480px ){

    .cards_body2 h3 {
        font-size: 15px;
    }

    .promo_body{
        width: 100%;
        height: 150px;
    
    }
    .promo_body h3{
        padding: 5px;
        font-size: 15px;
    }
    .promo{
        grid-template-rows: repeat(8,150px);
    }

    .c1 img,.c2 img, .c3 img, .c4 img, .c5 img, .c6 img, .c7 img, .c8 img, .c9 img,.c10 img, .c11 img, .c12 img, .c13 img, .c14 img, .c15 img, .c16 img, .c17 img,.c18 img, .c19 img, .c20 img, .c21 img, .c22 img, .c23 img, .c24 img{
        height: 90px;
    }
    .carousel-inner{  
        width: 50%;
        text-align: center;
        background-color: #a5aa9485;
        margin: 20px;
    height: 250px;
    }
    .carousel-item img {
        height: 200px;
        object-fit:cover ;
        border-radius: 100%;
    }
    .carousel-item h3{
        font-size: 15px;
    }
    .presentacion h2{
        font-size: 15px; ;
    }
.Ingresa{
    font-size: 18px;
}
.formulario_body h3 {
    font-size: 20px;
}
    .formulario_body{
        width: 90%;
        height: 60%;
    }
    .galeria{
        display: flex;
        flex-direction: column;


    }
    .galeria_hijo{
        height: 400px;
    }
}
