/*footer*/

.footer {
    color: #000000;
    font-size: 18px;
}

.footer_body{
    display: inline-block;
    text-align:left;
    background-color: #ffffff;
    border: 7px solid rgb(0, 0, 0)  ;
    padding: 20px;

    textarea{
        width: 100%;
    }

}

