
/*menu_navegacion*/

.container-fluid{
        img{
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 100%;
        }

}
.nav-item{
    a{
        text-decoration: none;
        color: #000000    ;
        font-size: 20px;
        text-transform: uppercase;
        font-family:'Sigmar';
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px   ;}
}